body
{ background-color:cornsilk;
    border: dimgray solid 3px;
}

.topmenu { 
    position: fixed;
    top: px;
    left: 40px;
    width: 100%;
    overflow: hidden;
    color:rgb(33, 72, 119);}

.text{border: 2px black solid;}

.w1{position: absolute;color:rgb(33, 72, 119);
    font-size: 200px;margin-left: 56rem;margin-top: 6rem;}
.w2{position: absolute;color:rgb(255, 255, 255);
    font-size: 200px;margin-left: 74rem;margin-top: 9rem;}
.w3{position: absolute;color:rgb(33, 72, 119);
    font-size: 200px;margin-left: 88rem;margin-top: 4rem;}
.w4{position: absolute;color:rgb(255, 255, 255);
    font-size: 200px;margin-left: 65rem;margin-top: 23rem;}
.w5{position: absolute;color:rgb(33, 72, 119);
    font-size: 200px;margin-left: 75rem;margin-top: 34rem;}
.w6{position: absolute;color:rgb(255, 255, 255);
    font-size: 200px;margin-left: 85rem;margin-top: 21rem;}
.w7{position: absolute;color:rgb(255, 255, 255);
    font-size: 200px;margin-left: 98rem;margin-top: 33rem;}

.mid1{position: absolute;
    margin-left: 7rem;
    margin-top: 15rem;
    color:rgb(093, 112, 135);
    font-family:Microsoft YaHei;
    font-weight:lighter;
    font-size: 23px;
line-height: 40px;}
.mid2{position: absolute;
    margin-left: 7rem;
    margin-top: 26rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(093, 112, 135);
    font-size: 24px;
line-height: 36px;}


.footer1{position: absolute;
    bottom: 2px;
    left: 240px;
    font-size: 20px;
    color:rgb(33, 72, 119);
    }
.footer2{position: absolute;
    bottom: 2px;
    left: 40px;
    font-size: 20px;
    color:rgb(33, 72, 119);
    }
.footer3{position: absolute;
    bottom: 2px;
    right:20px;
    font-size: 20px;
    color:rgb(33, 72, 119);
    }

.im1{position: absolute;
    max-width: 160px;
     margin-left: 56rem;
     margin-top: 22rem;
    border:rgba(210, 180, 140,0.3) 10px solid;}
.im1 { display: block;
        overflow: hidden;
        width: 100%;  
        transform: scale(1);  
        transition: all 1s ease 0s;}
.im1:hover{  
        transform: scale(1.2);
        transition: all 1s ease 0s;}  

.im2{position: absolute;
    max-width: 240px;
     margin-left: 73rem;
    margin-top: 21rem;
    border:rgba(210, 180, 140,0.3) 10px solid;
    width: 100%;  
    transform: scale(1);  
    transition: all 1s ease 0s;}
.im2 { display: block;
        overflow: hidden;
        width: 100%;  
        transform: scale(1);  
        transition: all 1s ease 0s;}
.im2:hover{  
        transform: scale(1.2);
        transition: all 1s ease 0s;}

.im3{position: absolute;
    max-width: 180px;
     margin-left: 80rem;
     margin-top: 3rem;
     border:rgba(210, 180, 140,0.3) 10px solid;
     width: 100%;  
     transform: scale(1);  
     transition: all 1s ease 0s;}
.im3 { display: block;
        overflow: hidden;
        width: 100%;  
        transform: scale(1);  
        transition: all 1s ease 0s;}
.im3:hover{  
        transform: scale(1.2);
        transition: all 1s ease 0s;}

.im4{position: absolute;
    max-width: 220px;
    margin-left: 80rem;
    margin-top: 36rem;
    border:rgba(210, 180, 140, 0.3) 10px solid;
    width: 100%;  
    transform: scale(1);  
    transition: all 1s ease 0s;}
.im4 { display: block;
        overflow: hidden;
        width: 100%;  
        transform: scale(1);  
        transition: all 1s ease 0s;}
.im4:hover{  
        transform: scale(1.2);
        transition: all 1s ease 0s;}

.bottommenu li {
        float: left;}
.bottommenu li h1 {
            color:rgb(093, 112, 135);
            text-align: center;
            padding-right: 10px;}




